* {
	border-radius: 5px 5px;
	font-family: Times, TimesNR, 'New Century Schoolbook',
     Georgia, 'New York', serif;
	margin: 0px;
	padding: 0px;
}
header {
	width: 1200px;
	height: 128px;
	margin: 5px auto;
	margin-bottom: 4px;
	border: transparent solid 1px;
	background-color: RGB(190,220,225);
}

header p{
	padding-left: 150px;
	font-size: 40px;
	font-weight: bold;
	vertical-align: middle;
	height: 127px;
	background: url("../images/notes-header-icon.png") 0px 0px no-repeat;
}
footer {
	width: 1200px;
	height: 40px;
	margin: auto;
	margin-bottom: 5px;
	border: transparent solid 1px;
	background-color: RGB(190,220,225);
}
footer p{
	margin-top: 8px;
	text-align: center;
}

#loading {
	width: 1200px;
	height: 400px;
	border: transparent solid 1px;
	margin: auto;
	margin-bottom: 20px;
	background-color: RGB(213,240,242);
}
#loading span {
	display: block;
	height: 300px;
	margin: auto;
	margin-top: 90px;
}
#loading span img {
	display: block;
	margin-top:50px;
	margin-left: 500px;
}

#menu ul{
	border: solid 1px;
	width: 1200px;
	height: 40px;
	margin: auto;
	margin-bottom: 10px;
	list-style: none;
	border: transparent solid 1px;
	background-color: RGB(213,240,242);
}

#menu ul li {
	float: left;
	border: solid 1px;
	height:26px;
	width: 80px;
	padding: auto;
	padding-top: 6px;
	font-weight: bold;
	background-color: RGB(190,220,225);
	cursor: pointer;
}

#new{
	background: url("../images/new.png") 5px 3px no-repeat;
}

#edit{
	background: url("../images/edit.png") 5px 3px no-repeat;
}
#delete{
	background: url("../images/delete.png") 5px 3px no-repeat;
}
#save{
	background: url("../images/save.png") 5px 3px no-repeat;
}
#config{
	background: url("../images/config.png") 5px 3px no-repeat;
}
#help{
	background: url("../images/info.png") 5px 3px no-repeat;
}
#menu ul li:hover {
	 box-shadow: 0 0 15px rgba(25, 0, 255, 1.25);
    -webkit-box-shadow: 0 0 5px rgba(25, 0, 255, 1.25); 
    -moz-box-shadow: 0 0 5px rgba(25, 0, 255, 1.25);
}

#content {
	width: 1200px;
	margin: auto;
	background-color: blue;
}

dl {
	float: left;
	width: 230px;
	margin-bottom: 10px;
	outline: none;
	list-style: none;
	border: transparent solid 1px;
	background-color: RGB(213,240,242);
}

dl:hover {
	 box-shadow: 0 0 15px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

dl dt {
	height:26px;
	padding-left: 2em;
	border-bottom: dashed 1px;
	border-radius:0;
	padding: 2px 0px 2px 2em;
	background: url("../images/document-text-icon.png") 0px 0px no-repeat;
	background-color: RGB(190,220,225);
}

.expandedBtn, .collapseBtn{
	float: right;
	width: 25px;
	height: 25px;
	margin-right: 2px;
	border: dotted 1px;
	background: url("../images/expand.png") -3px -3px no-repeat;
	cursor: pointer;
}

.collapseBtn {
	background: url("../images/collapse.png") -3px -3px no-repeat;
}

dd  .NoteContent{
	height: 120px;
	padding-left: 2.5em;
	margin-right: 2.5em;
	margin-top: 8px;
	overflow: hidden;
}

.NoteContent:focus{
	outline: RGB(249,62,47) solid 1px;
	box-shadow: 0 0 15px rgba(249,62,47, 1.25);
    -webkit-box-shadow: 0 0 5px rgba(249,62,47, 1.25); 
    -moz-box-shadow: 0 0 5px rgba(249,62,47, 1.25);
}
.seperate{
	float: left;
	margin-top: 10px;
	width: 10px;
	height: 100px;
}
ul {
	list-style: none;
}

ul>li {
    margin: 4px;
	margin-left: 2em;
	padding-left: 2em;
}

.clear {
	clear: both;
}
